<script defer src="https://kit.fontawesome.com/64933c11ad.js" crossorigin="anonymous"></script>
<script defer>
    function scrollToTop() {
        window.scroll({top: 0, left: 0, behavior: 'smooth'});
    }
</script>
<header class="search-header">
    <div class="search-container">
        <form action="/">
            <input type="text" placeholder="Search manga..." name="search">
            <button type="submit"><i class="fa fa-search"></i></button>
        </form>
    </div>
    <nav class="nav-float">
        <a onclick="scrollToTop()" class="scroll-top" style="margin-right: 0"><i class="fas fa-angle-up"></i></a>
    </nav>
</header>